<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>World of Polls</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

</head>

<body>
    <h1>All Polls</h1>

    <form method="get" action="{% url 'polls:search' %}">
        <input type="text" name="q" placeholder="Type here to search" required>
        <button type="submit">Search</button>
    </form>
    <li><a href="{% url 'polls:index' %}">Go back</a></li>


    {% if question_list %}
    <ul>
        <p>All polls in order of date:</p>
        {% for question in question_list %}
        {% if user.is_authenticated %}

        {% if question.id in voted_question_ids %}
        <li><a class="voted" href="{% url 'polls:results' question.id %}">{{ question.question_text }}</a>
            <em> Created: {{ question.pub_date }}</em>
        </li>
        {% else %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
            <em> Created: {{ question.pub_date }}</em>
        </li>
        {% endif %}

        {% else %}

        <li><a href="{% url 'polls:results' question.id %}">{{ question.question_text }}</a>
            <em> Created: {{ question.pub_date }}</em>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
    {% else %}
    <p>No polls are available.</p>
    {% endif %}
</body>

</html>