<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>World of Polls</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/secret.css' %}">
</head>

<body>
    <h1>SUPER SECRET ADMIN PAGE</h1>
    <div class="hamboy">
        <h2>If youre not an admin youre in BIG trouble.</h2>

        <p>Functionality to rig polls delayed until tuesday - Bob</p>

        <h1>A</h1>
        <h1>D</h1>
        <h1>M</h1>
        <h1>I</h1>
        <h1>N</h1>
        <h1>S</h1>
        <h1>R</h1>
        <h1>U</h1>
        <h1>L</h1>
        <h1>E</h1>
    </div>

    <li><a href="{% url 'polls:index' %}">Go back</a></li>
</body>

</html>